body {    
    background-color: #f7f1f2;
    margin: 0px;
    padding: 0px;
}
.navbar-bck {
    background-color: #d1c1c4;
    color: #90737a;
}
footer {
    background-color: #5b373D;
    color: #9ca7c4;
    margin-top: 15px;
    
}

.main-container {
    margin-top: 60px;
    padding-bottom: 15px;
    width: 100%;
    height: 500px;
}

.categories-menu {
    margin-top: 10px;
}

.categories-title {
    background-color: #d1c1c4;
}

.filter {
    margin-top: 10px;
}

/* buttons  */
.button-more {
    /* border: solid 1px #ffffff00; */
    margin-bottom: 30px;

}

.button-sort {
    background-color: #5b373D;
    color: #9ca7c4;
    z-index: 4;
}

/* Product Grid */
.column-3 {
    padding: 5px;
    margin: 10px;
    width: 20rem;

}

.img-product {
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}

.bottom-right {
    bottom: 10px;
    right: 10px;
}